.page.theme_light {
  --accent-color: #ff8dcb;
  --bg-color: #fff1f7;
  --text-color:  #353430;
  --nav-color: #353430;
  --subtitle-color: #353430;
  --section-title: #353430;
  --title-color: #ffc2e6;
  --link-color: #353430;
  --header-theme: #353430;
  --heaader-logo-color: #ffc2e6;
  --footer-logo-color: #ffc2e6;

  --bg-image: url(../images/cover-image-light.png);
}

.theme_light .decorated-element {
  display: none;
}

.theme_light .header__theme-menu-button-active {
  border: 1px solid var(--nav-color);
}

.theme_light .header__theme-menu-button:hover {
  --menu-button-hover: rgba(50, 49, 45/ 0.4);
}


@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --bg-color: #fff1f7;
    --text-color:  #353430;
    --nav-color: #353430;
    --subtitle-color: #353430;
    --section-title: #353430;
    --title-color: #ffc2e6;
    --link-color: #353430;
    --header-theme: #353430;
    --heaader-logo-color: #ffc2e6;
    --footer-logo-color: #ffc2e6;
  }

  .page {
    --bg-image: url(../images/cover-image-light.png);
  }

  .decorated-element {
    display: none;
  }

  .theme_light .header__theme-menu-button-active {
    border: 1px solid var(--nav-color);
  }
  
  .theme_light .header__theme-menu-button:hover {
    --menu-button-hover: rgba(50, 49, 45/ 0.4);
  }
}