.page {
  color: var(--text-color, #f1b2ce);
  font-family: var(--font-family, sans-serif);
  font-size: var(--font-size, 18px);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-weight: var(--weight-normal, 465);
}

a:focus,
button:focus {
  outline: none;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr max-content 1fr;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
  color: var(--accent-color);
}

@media (min-width: 768px) {
  .header {
    padding: 20px 20px 20px 0;
  }
}

@media (min-width: 1024px) {
  .header {
    align-items: start;
  }
}

.decorated-element {
  display: contents;
}

.decorated-element::before {
  content: "rec";
  position: absolute;
  top: 12px;
  right: 39px;
  color: var(--accent-color);
  font-family: inherit;
  font-size: var(--font-size, 18px);
  line-height: 1.38;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .decorated-element::before {
    top: 20px;
    right: 48px;
  }
}

.decorated-element::after {
  content: "";
  position: absolute;
  top: 25px;
  right: 40px;
  margin: -5px -20px 0 0;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  block-size: 9px;
  inline-size: 9px;
}

@media (min-width: 768px) {
  .decorated-element::after {
    top: 32px;
    right: 48px;
  }
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  border-inline-end: 1px solid var(--header-theme);
  border-block-start: 1px solid var(--header-theme);
  padding: 12px;
}

@media (min-width: 768px) {
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-inline-start: 1px solid var(--header-theme);
  border-block-end: 1px solid var(--header-theme);
  padding: 12px;
}

@media (min-width: 768px) {
  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: var(--main-gap);
  list-style: none;
}

@media (min-width: 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
    gap: var(--main-gap);
    padding-inline-start: 20px;
  }
}

.header__theme-menu-button {
  border: 1px solid transparent;
  color: var(--header-theme);
  font-family: inherit;
  font-weight: normal;
  font-size: var(--font-size);
  font-size: inherit;
  line-height: 1;
  text-align: center;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
  block-size: 26px;
  inline-size: 70px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--menu-button-hover);
}

.header__theme-menu-button:focus {
  border-block-end: 1px solid currentColor;
  outline: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--header-theme);
}

.header__title {
  align-items: center;
  color: var(--header-logo-color);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: var(--header-logo-size);
  line-height: 0.83;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__subtitle {
  color: var(--subtitle-color);
  font-family: var(--font-family);
  font-weight: bold;
  font-size: var(--font-size);
  line-height: 1.3;
  text-align: left;
  background: var(--accent-color);
}

@media (min-width: 768px) {
  .header__title {
    font-size: var(--header-logo-size);
  }
}

@media (min-width: 768px) {
  .header__subtitle {
    justify-self: end;
    align-self: center;
    width: 48.5%;
  }
}

@media (min-width: 1024px) {
  .header__subtitle {
    width: 49%;
  }
}

.content {
  display: grid;
  gap: 50px;
  padding: calc(4*var(--main-gap)) var(--main-gap);
  background: var(--bg-color);
}

@media (min-width: 768px) {
  .content {
    gap: 80px;
    padding: 60px 20px;
  }
}

.content__section {
  display: grid;
  gap: 20px;
}

@media (min-width: 768px) {
  .section__why,
  .section__how {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: minmax(min-content, max-content);
  }

  .section__why .content__section-title {
    grid-column: 1;
  }

  .section__why .card {
    grid-column: 2;
  }

  .card-list__section-what {
    grid-template-rows: min-content max-content;
  }

  .section__what .content__section-title {
    inline-size: 200px;
  }
}

.card-list__section-what {
  display: grid;
  gap: 20px;
}

@media (min-width: 1024px) {
  .section__why,
  .section__how {
    grid-template-columns: max(314px) 2fr;
    grid-template-rows: minmax(min-content, max-content);
  }

  .card-list__section-what {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 0;
  }

  .section__what .content__section-title {
    inline-size: 300px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--main-gap);
}

.card__subtitle {
  color: var(--subtitle-color);
  font-weight: bold;
  font-size: var(--font-size);
  line-height: 1.3;
  text-align: left;
  background: var(--accent-color);
}

.content__section-title {
  color: var(--section-title);
  font-family: var(--font-family);
  font-weight: bold;
  font-size: var(--font-size);
  line-height: 1.3;
}

.card__text-block {
  font-family: var(--font-family);
  font-weight: normal;
  font-size: inherit;
  line-height: 1.3;
}

.card__link {
  border: transparent;
  color: inherit;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.card__link:hover {
  border-bottom: 1px solid var(--link-color);
}

.card__link:focus-visible {
  outline: 1px solid var(--link-color);
}

.card__subtitle-item {
  color: var(--subtitle-color);
  font-family: var(--font-family);
  font-weight: normal;
  font-size: inherit;
  line-height: 1.3;
  text-align: left;
  background: var(--accent-color);
}

.card__list {
  display: grid;
  gap: 20px;
  padding-block-start: 10px;
}

.card__list-item {
  display: grid;
  gap: var(--main-gap);
}

.gallery {
  display: grid;
  gap: var(--main-gap);
}

.gallery__list {
  display: grid;
  gap: var(--main-gap);
}

.gallery__list-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 768px) {
  .gallery {
    gap: 20px;
  }

  .gallery__list {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 20px;
  }

  .gallery__list-item:first-of-type,
  .gallery__list-item:last-of-type {
    grid-column: span 2;
  }

  .gallery__list-item:nth-of-type(4) {
    grid-column: span 1;
    grid-row: span 1;
  }

  .gallery__list-item:nth-of-type(2),
  .gallery__list-item:nth-of-type(3) {
    grid-row: span 2;
  }
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--bg-color);
  min-block-size: 668px;
}

@media (min-width: 768px) {
  .footer {
    min-block-size: 1024px;
  }
}

@media (min-width: 1024px) {
  .footer {
    min-block-size: 768px;
  }
}

.footer__text {
  color: var(--footer-logo-color);
  font-family: var(--font-family);
  font-weight: bold;
  font-size: var(--footer-logo-size);
  line-height: 0.83;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (min-width: 768px) {
  .footer__text {
    font-size: var(--footer-logo-size);
  }
}
